.movieCard {
    display: inline-block;
    margin: 2vw;
    padding: .4vw;
    border: .2vw double darkslateblue;
    max-width: 18vw;
    h3 {
        display: inline-block;
    }
    img {
        display: block;
        max-width: 90%;
        height: auto;
        margin: .2em auto;
    }
}